/* your styles go here */

.body-demo{
    background-color: gainsboro
}

.info-box{
    cursor: pointer;
}

.info-box:hover {
    background-color: #ccc;
}

.btn-ticket {
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}
.btn-projectx {
    color: white;
    background-color: #001f3f;
    border-color: #001f3f;
}
.btn-project {
    color: white;
    background-color: midnightblue;
    border-color: midnightblue;
}

.btn-user {
    color: white;
    background-color: darkgreen;
    border-color: darkgreen;
}

/*priorities*/
.btn-low {
    color: white;
    background-color: yellow;
    border-color: yellow;
}
    .btn-med {
    color: white;
    background-color: orange;
    border-color: orange;
}

.btn-high {
    color: white;
    background-color: firebrick;
    border-color: firebrick;
}

/*statuses*/
.btn-unassigned {
    color: white;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}
.btn-assigned {
    color: white;
    background-color: darkgreen;
    border-color: darkgreen;
}

.btn-resolved {
    color: white;
    background-color: midnightblue;
    border-color: midnightblue;
}

.btn-archived {
    color: white;
    background-color: darkgrey;
    border-color: darkgray;
}



.card-project:not(.card-outline) > .card-header {
    background-color: midnightblue;
    color: #ffffff;
}
.card-ticket:not(.card-outline) > .card-header {
    background-color: cornflowerblue;
    color: #ffffff;
}

card-ticket:not(.card-outline) > .card-header,
.card-ticket:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-ticket:not(.card-outline) > .card-header a.active {
    color: #1F2D3D;
}

.card-ticket.card-outline {
    border-top: 3px solid cornflowerblue;
}

.card-developer:not(.card-outline) > .card-header {
    background-color: darkgreen;
    color: #ffffff;
}

.card-primary.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #dee2e6;
}

.card-primary.card-outline-tabs > .card-header a.active {
    border-top: 3px solid cornflowerblue;
}


.txt-edit{
    color:magenta;
}

.txt-detail{
    color:midnightblue;
}

.txt-delete {
    color:firebrick;
}
.text-project {
    color: darkblue;
}
.text-ticket {
    color: cornflowerblue;
}
.text-user {
    color: olive;
}

.sidebar-TLF-danger .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-danger .nav-sidebar > .nav-item > .nav-link.active {
    background-color: gray;
    color: #ffffff;
}

.sidebar-TLF-danger .nav-sidebar.nav-legacy > .nav-item > .nav-link.active,
.sidebar-light-danger .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
    border-color: gray;
}